body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color: beige;
    color: maroon;
}

p {
    color: green;
    font-size: 19px;
}

#copy {
    color: black;
    font-size: 10px;
}